---
import BaseLayout from '../../layouts/BaseLayout.astro';
import type { PostFrontmatter } from '../../layouts/MarkdownPostLayout.astro';

const posts = await Astro.glob<PostFrontmatter>('../posts/*.md');
const uniqueTags = [
  ...new Set(posts.map((post) => post.frontmatter.tags).flat()),
];
---

<BaseLayout pageTitle="tags">
  <h1 class="mb-10 text-center text-5xl font-bold">
    All <span class="text-primary">#Tags</span>
  </h1>
  <ul class="flex flex-col gap-5">
    {
      uniqueTags.map((tag) => (
        <div class="card w-80 bg-base-100 shadow-xl transition-all hover:scale-105 hover:opacity-80 active:scale-95">
          <a class="card-body" href={`/tags/${tag}`}>
            <p class="card-title text-2xl">#{tag}</p>
          </a>
        </div>
      ))
    }
  </ul>
</BaseLayout>
