---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="Home">
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">
          Hi 👋, my name is <span class="text-primary">Omri Green</span>
        </h1>
        <p class="py-6">
          A frontned software developer, passionate about all-things web dev.
        </p>
        <button class="btn btn-primary">Read My Blog</button>
      </div>
    </div>
  </div>
</BaseLayout>
