---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="Home">
  <div class="hero min-h-[75vh] bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">
          Hi 👋, my name is <span class="text-primary whitespace-nowrap"
            >Omri Green</span
          >
        </h1>
        <p class="py-6">
          A frontned software developer, passionate about all-things web dev.
        </p>
        <a class="btn btn-primary" href="/posts">Go to Blog</a>
      </div>
    </div>
  </div>
</BaseLayout>
