---
export interface Props {
  title: string;
  description: string;
  tags: string[];
  href: string;
}

const { title, description, tags, href } = Astro.props;
---

<a
  href={href}
  class="w-xl card bg-base-100 shadow-xl transition-all hover:scale-105 hover:opacity-80 active:scale-95"
>
  <div class="card-body">
    <h2 class="card-title text-2xl">{title}</h2>
    <p>{description}</p>
    <div class="card-actions justify-end">
      {tags.map((tag) => <div class="badge-outline badge">#{tag}</div>)}
    </div>
  </div>
</a>
