<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn-ghost btn lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path></svg
        >
      </label>
      <ul
        tabindex="0"
        class="dropdown-content menu rounded-box menu-compact mt-3 w-52 bg-base-100 p-2 shadow"
      >
        <li><a href="/">Item 1</a></li>
        <li tabindex="0">
          <a class="justify-between">
            Parent
            <svg
              class="fill-current"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              ><path
                d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"
              ></path></svg
            >
          </a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
    <a class="btn-ghost btn text-xl normal-case" href="/">Omri Green</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/about">About</a></li>
      <li tabindex="0">
        <a>
          Blog
          <svg
            class="fill-current"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            ><path
              d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"
            ></path></svg
          >
        </a>
        <ul class="bg-base-100 p-2">
          <li><a href="/posts">All posts</a></li>
          <li><a href="/tags">Tags</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <label for="my-modal-6" class="btn-primary btn">Newsletter</label>
    <input type="checkbox" id="my-modal-6" class="modal-toggle" />
    <div class="modal modal-bottom sm:modal-middle">
      <div class="modal-box">
        <h3 class="text-lg font-bold">Subscribe to my newsletter</h3>
        <p class="py-4">
          By signing up, you will receive notifications of new articles,
          tutorials, and resources to help you grow as a developer. No spam
          guaranteed.
        </p>
        <form>
          <label class="label">
            <span class="label-text">Enter your email:</span>
          </label>
          <input
            type="text"
            placeholder="username@site.com"
            required
            type="email"
            class="input-bordered input-primary input w-full max-w-xs"
          />
          <button class="btn-primary btn">Subscribe</button>
        </form>
        <div class="modal-action">
          <label for="my-modal-6" class="btn">Cancel</label>
        </div>
      </div>
    </div>
  </div>
</div>
