---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

export interface Props {
  pageTitle: string;
  children: any;
}

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <script>
      if (localStorage.getItem('theme')) {
        document.body.setAttribute(
          'data-theme',
          localStorage.getItem('theme')!
        );
      } else {
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          document.body.setAttribute('data-theme', 'dark');
          localStorage.setItem('theme', 'dark');
        } else {
          document.body.setAttribute('data-theme', 'cmyk');
          localStorage.setItem('theme', 'cmyk');
        }
      }
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👨🏻‍💻</text></svg>"
    />
    <title>{pageTitle}</title>
    <slot name="head" />
  </head>
  <body class="flex min-h-screen flex-col bg-base-200">
    <Navbar />
    <main class="mx-auto max-w-5xl grow py-10">
      <slot />
    </main>
    <Footer />
  </body>
</html>
